apiVersion: apps/v1
kind: Deployment
metadata:
  name: devopslife-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      run: devopslife-app
  template:
    metadata:
      labels:
        run: devopslife-app
    spec:
      containers:
      - name: devopslife-app
        image: nginx
        ports:
          - containerPort: 80
        imagePullPolicy: IfNotPresent
